body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.pre-scrollable {
    height:100%;
}
.nav {
    padding-left: 0px;
}

.stretch-height{
    height: 100%;
}
#menu {
    padding-top: 5px;
    left: 0;
}
.navbar-fixed-left {
  position: fixed;
  border-radius: 0;
}

#body{
    padding-top: 10px;
}


div #results {
    outline-offset: 0;
}

#project-icons {
    padding-top: 0px;

}

.gly-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

.list {
    list-style: none;
    text-align: center;
}
