
@*@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoadingView</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>*@
<div class="container" id="loading">
    <p> Loading ... </p>
</div>
