
@{
    ViewBag.Title = "AuthorizedAsAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AuthorizedAsAdmin</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav">
                <li class="active">
                    @Html.ActionLink("User managment", "UserManagement", "Account", "")
                </li>
                <li class="active">
                    @Html.ActionLink("User list", "UserList", "Account", "")
                </li>
                <li>
                    @Html.ActionLink("Project list", "Index", "Project", "")
                </li>
            </ul>
        </div>
    </div>
    

</div>